@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

.homelink {
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
}
